@model Station2.Models.Invoice

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerOrder.AddressLine1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InvoiceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
