@model ItemMaster


    <tr>
        <td>
            @Model.ItemName
        </td>
        <td>
            @Model.ItemDescription
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.InStock)
        </td>
        



        <td>
            <div class="addToCart">
                <p class="button">
                    <a class="btn btn-primary bg-gradient-cyan rounded-pill mr-2" style="cursor:pointer; width:100px;"
                       asp-controller="ShoppingCart"
                       asp-action="AddToShoppingCart"
                       asp-route-itemId="@Model.ItemId">Add to cart</a>
                </p>
            </div>

        </td>
    </tr>