@model IEnumerable<Station2.Models.CustomerPayment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Payments </h1>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PaymentMethod)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PaymentType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NetAmount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cash)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Balance)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.PaymentStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Invoice)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentMethod)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NetAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cash)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Balance)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Invoice.InvoiceId)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.PaymentId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.PaymentId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.PaymentId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
